{% extends 'welcome/welcome_base.html' %}

{% block title %}Prihlasenie{% endblock %}

{% block welcome %}
    <div>
        <h3 class="font-weight-bolder text-center text-warning text-gradient">Prihlasenie</h3>
        <p class="mb-0 text-center">Zadaj email a heslo pre prihlasenie</p>
    </div>
    <form role="form" method="POST" autocomplete="off" novalidate class="site-form">
        {% csrf_token %}
        <label class="col-form-label">Email</label>
        <div class="mb-3">
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <label class="col-form-label">Heslo</label>
        <div class="mb-3">
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        {{ form.non_field_errors }}
        <!-- <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                <label class="form-check-label" for="rememberMe">Remember me</label>
            </div> -->
        <a class="text-decoration-underline text-center" href="{% url 'password_reset_request' %}">Zabudol som heslo</a>
        <div class="text-center">
            <button type="submit" class="btn bg-gradient-faded-warning w-100 mt-4 mb-0">Prihlasit</button>
        </div>
    </form>
{% endblock %}