{% extends 'base.html' %}

{% block content %}
    <div class="border page-header min-vh-90">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                    <div class="card card-plain mt-8">
                        <div class="card-header pb-0 bg-gray-100">
                            <img src="../../../assets/img/my-nin_logo_s.png" class="w-100" alt="mynin logo">
                        </div>
                        <div class="card-header bg-gray-100 pb-0 text-left">
                            <div class="card-body">
                                {% block welcome %}
                                {% endblock %}
                            </div>
                            <div class="card-body pb-3">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-0 col-md-6 d-flex flex-column mx-auto">
                    <div id="globe" class="position-absolute end-5 top-0 mt-sm-3 mt-md-3 mt-7 me-lg-7">
                        <canvas id="globe" width="700" height="600"
                                class="w-lg-100 h-lg-100 w-100 h-100 me-lg-0 me-n10 mt-lg-5"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}