{% extends 'base.html' %}

{% block content %}
    <div class="page-header min-vh-90">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-10 d-flex flex-column mx-auto">
                    {% include 'globe.html' %}
                    <div class="card card-plain">
                        <div class="card-header pb-0 bg-gray-100">
                            <img src="../../../assets/img/my-nin_logo_s.png" class="w-100" alt="mynin logo">
                        </div>
                        <div class="card-header bg-gray-100 pb-0 text-left">
                            <div class="card-body">
                                {% block welcome %}
                                {% endblock %}
                            </div>
                            <div class="card-body pb-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}