{% extends 'dashboard/dashboard.html' %}
{% block title %}Dobit kredit{% endblock title %}
{% block main %}
    <div class="container max-width-400 mt-8 w-sm-50">
        <div class="col card card-body">
            <h5 class="text-success text-center">Naozaj chces zapisat kredit?</h5>
            <form method="POST">
                {% csrf_token %}
                <div class="">
                    <input class="text-center btn btn-success mx-5 me-5" type="submit" value="Zapisat"/>
                    <a class="text-center btn btn-danger" href="{% url 'credit_administration' %}">Zrusit </a>
                </div>
            </form>
        </div>
    </div>
{% endblock main %}
