{% extends 'dashboard/dashboard.html' %}
{% block title %}Ziadosti o pozvanie{% endblock title %}
{% block main %}
        <section class="py-3 container">
    <div class="card">
        <!-- Card header -->
        <div class="card-header">
            <h5 class="mb-0">Zoznam odoslanych pozvanok</h5>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush" id="datatable-basic">
                <thead class="thead-light">
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Pozval</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for inv in invitations %}
                        <td class="text-sm font-weight-normal">{{ inv.email }}</td>
                        <td class="text-sm font-weight-normal">{{ inv.inviter.first_name }} {{ inv.inviter.last_name }}</td>
                        <td class="text-sm content-right font-weight-normal d-flex flex-row-reverse">
                            <a class="btn btn-sm bg-gradient-danger" href="{% url 'request_delete' pk=inv.id %}">Zmazat</a>
                            <a class="btn btn-sm bg-gradient-success mx-4" href="">Zaregistrovat</a>
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        </section>
{% endblock %}


