{% extends 'base.html' %}

{% block content %}
<div class="page-header min-vh-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                <div class="card card-plain mt-sm-8 mt-7 mt-md-5">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-primary text-gradient">First time login</h3>
                        <p class="mb-0">Change your password</p>
                    </div>
                    <div class="card-body pb-3">
                        <form role="form" class="site-form" method="post">
                            {% csrf_token %}
                            <label>Password</label>
                            <div class="mb-3">
                                {{form}}
                            </div>
                            <label>Retype password</label>
                            <div class="mb-3">
                                {{form.password2}}
                            </div>
                            {{form.errors}}

                            <div class="text-center">
                                <input type="submit" value="Send" class="btn bg-gradient-primary w-100 mt-4 mb-0">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                    <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                        style="background-image:url('../../assets/img/curved-images/curved11.jpg')"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}