{% extends 'dashboard.html' %}
{% block title %}Moj profil{% endblock title %}
{% block main %}
    {#______________hlavicka_______________#}
    <div class="container-fluid">
        <div class="page-header min-height-150 border-radius-xl mt-4"
             style="background-image: url('../../assets/img/curved-images/curved10.jpg'); background-position-y:50">
            <span class="mask bg-gradient-primary opacity-1"></span>
        </div>
        <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
            <div class="row">
                <div class="col-1">
                    <div class="avatar avatar-xl position-relative">
                        <img src="../../../assets/img/small-logos/logo-asana.svg" alt="profile_image"
                             class="w-100 border-radius-lg shadow-sm">
                    </div>
                </div>
                <div class="col-8 my-auto">
                    <div class="">
                        <h5 class="mb-1">
                            {{ user.first_name }} {{ user.last_name }}
                        </h5>
                        <p class="mb-0 font-weight-bold text-sm">
                            Status: <span class="font-weight-bolder">{{ status }}</span>
                        </p>
                        <p class="mb-0 font-weight-bold text-sm">
                            Pocet tvojich registracii: <span
                                class="font-weight-bolder">{{ user_profile.registrations }}</span>
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="nav-wrapper mt-3 bg-gradient-faded-primary shadow-sm border border-radius-md">
                        <h6 class="text-center text-white text-nowrap pt-2">Kredit: {{ credit }}EUR</h6>
                    </div>
                </div>

                <div class="col">
                    <div class="nav-wrapper mt-3">
                        <a href="{% url 'recharge_credit' %}" class="btn btn-primary">Dobit kredit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#______________hlavicka_______________#}


    <div class="container-fluid py-4">

        {#______________prehlad bodov_______________#}
        <section class="py-3">
            <div class="col-md-8 me-auto text-left">
                <h5>Prehlad bodov</h5>
            </div>
            <div class="row mt-lg-4 mt-2">
                <div class="col-lg-6 col-sm-6">
                    <div class="card  mb-4">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Primarne body</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            {{ pp }}
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                        <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Bonusove body</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            {{ bp }}
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                        <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 mt-sm-0 mt-4">
                    <div class="card  mb-4">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Sekundarne body</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            {{ sp }}
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                        <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Timove body</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            {{ tp }}
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                        <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-lg-2 mt-2">
                    <div class="card mb-4 bg-gradient-light">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Body spolu</p>
                                        <h3 class="font-weight-bolder mb-0">
                                            {{ sum_points }}
                                        </h3>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                        <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {#______________prehlad bodov_______________#}


    </div>

{% endblock main %}